@using Glen.MVC.Helpers
@{
    Layout = "~/Views/Layouts/_default.cshtml";
    ViewBag.action = Request.RequestContext.RouteData.Values["Action"];
}

<div class="row clearfix">
    <div class="col-md-2">
        <div class="list-group">

            @if (LoginRole.Is(PositionEnum.Sales))
            {

                <a href="@Url.Action("Index", "Project", new { id = "Inquiry" })" class="list-group-item @Html.Raw( ViewBag.action =="Index" ? "active" : "" )">
                    <span class="glyphicon glyphicon-list margin-right-5"></span>
                    List
                </a>

                <a href="@Url.Action("Index", "Customer")" class="list-group-item  @Html.Raw( ViewBag.action =="Create" ? "active" : "" )">
                    <span class="glyphicon glyphicon-plus margin-right-5"></span>
                    create new
                </a>
            }


        </div>
        
        <p class="text-info" style="padding: 5px;">
            Manage inquiries
        </p>

        <p class="text-info" style="padding: 5px;">
            Select customer to initiate a new project.
        </p>


    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>

@RenderSection("scripts", required: false)

@RenderSection("css", required: false)
