@{
    Layout = "~/Views/Layouts/_default.cshtml";
    ViewBag.topMenu = "Project";
    ViewBag.action = Request.RequestContext.RouteData.Values["Action"]; 
}

<div class="row clearfix">
    <div class="col-md-2">
        <div class="list-group">
            <a href="@Url.Action("Calendar", "Installation")" class="list-group-item @Html.Raw( ViewBag.action =="Calendar" ? "active" : "" )">
                <span class="glyphicon glyphicon-calendar margin-right-5"></span>
                Calendar
            </a>
            <a href="@Url.Action("Index", "Installation", new { id = "Order" })" class="list-group-item @Html.Raw( ViewBag.action =="Index" ? "active" : "" )">
                <span class="glyphicon glyphicon-list margin-right-5"></span>
                List
            </a>

        </div>


        <p class="text-info" style="padding: 5px;">
            Manage project data
        </p>
        

    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>

@RenderSection("scripts", required: false)
@RenderSection("css", required: false)
